run = "npm run dev"
entrypoint = "app/page.tsx"
modules = ["nodejs-20"]

[nix]
channel = "stable-24_05"

[deployment]
deploymentTarget = "autoscale"
build = ["sh", "-c", "npm run build"]
run = ["sh", "-c", "npm run start"]

[[ports]]
localPort = 3000
externalPort = 80
